{# templates/test/test.html.twig #}

{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <div class="col-md-3">
        <table>
            {% if users is defined %}
                {% if users|length != 0 %}
                    {% for user in users %}
                        <tr>
                            <td>{{ user.name }}</td>
                            <td>{{ user.mail }}</td>
                            <td>{{ user.password }}</td>
                            <td><button><a href="{{ path('editProfil', {'id': user.id }) }}">Modifier profil</a></button></td>
                            <td><button><a href="{{ path('supprProfil', {'id': user.id }) }}">Supprimer profil</a></button></td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </table>

    </div>
</div>
{% endblock %}