<!-- Modal Register -->
<div class="modal fade " id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Enregistrez-Vous</h5>
            </div>
            <div class="modal-body function">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        {{ form_start(form) }}
                            <div class="row">
                                <div class="col-md-2">{{ form_label(form.pseudo) }}</div>
                                <div class="col-md-10 mb-4">{{ form_widget(form.pseudo) }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">{{ form_label(form.mail) }}</div>
                                <div class="col-md-10 mb-4">{{ form_widget(form.mail) }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">{{ form_label(form.password) }}</div>
                                <div class="col-md-10 mb-4">{{ form_widget(form.password) }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">{{ form_widget(form.inscription) }}</div>
                            </div>
                        {{ form_end(form) }}
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div> 
</div>
